// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$enable-shadows : true;


// Variables
@import 'variables';
@import 'navBar';


// Bootstrap
@import '~bootstrap/scss/bootstrap';
