.navbar-row{
    height: 75px;
    .logo {
        line-height: 75px;
        padding: 0 10%;

        a {
            text-decoration: none;
        }
    }
    .logo:hover {
        background-color: #476369;
        transition: 1s;
    }
}

